@font-face {
    font-family: garfield;
    src: url(KodeMono-Regular.ttf);
}

*{
    font-family: garfield;
    background-color: black;
    color: white;
}

/*Background related bullsh&t */
#game{
    width: 800px;
    height:500px;
    margin-left: 27.5%;
    border: 10px solid black;
    background-color: aquamarine;
}

#celling{
    width:800px;
    height:100px;
    background-color: black;
    position: relative;
    top: 100px;
    
}
/*Character related bullsh&t */
#character{
    width: 60px;
    height: 100px;
    position: relative;
    top:400px;
    left:300px;
}



.skipping {
    animation: skipping 0.5s infinite;
}

.animateUp{
    animation: goUp 0.3s linear;
}
.animateDown{
    animation: goDown 0.3s linear;
}
.animateForward{
    animation: goForward 2s linear;
}
.bgPulse{
    animation: bgPulse 1s linear;
}

@keyframes skipping {
    0% {
        background: url(Assets/Ali_idle.png);
    }
    100% {
        background: url(Assets/Ali_Skipping.png);
    }
}

@keyframes goUp{
    from {
        transform: translatey(0px);
        background: url(Assets/Ali_Up.png);
      }
      to {
        transform: translatey(-300px);
        background: url(Assets/Ali_idle.png);
      }
    }
@keyframes goDown{
    from {
        transform: translatey(0px);
        background: url(Assets/Ali_Down.png);
      }
      to {
        transform: translatey(0px);
        background: url(Assets/Ali_idle.png);
      }
}
@keyframes goForward{
    from {
        background: url(Assets/Ali_Forward.png);
        width: 80px;
      }
      to {
        background: url(Assets/Ali_idle.png);
        width: 60px;
      }
}

/*Obstacle related bullsh&t */
#spikeTop{
    width: 96px;
    height: 96px;
    background: url(Assets/Spike.png);
    position: relative;
    top: -190px;
    left: 710px;
    animation: spikeTop 2.5s infinite linear;
    animation-delay: 6.60s;
}

@keyframes spikeTop{
    0%{left:710px;}
    100%{left:-15px}
}
#spikeBottom{
    width: 96px;
    height: 96px;
    background: url(Assets/Spike.png);
    position: relative;
    top: 205px;
    left: 710px;
    animation: spikeBottom 1.5s infinite linear;
    animation-delay: 0.9s;
}

@keyframes spikeBottom{

    0%{left:720px;}
    100%{left:-15px}
}

h1 {
    font-size: 64px;
    padding-top: 20px;
    margin-left: 27.5%
}

h2{
    font-size: 32px;
    margin-left: 27.5%;
    color: white;
}

p{
    font-size: 20px;
    margin-left: 27.5%;
    margin-right: 27.5%;
}

#PlayButton{
    font-size: 84px;
    border: 16px, solid, green;
    background-color: lime;
    margin-bottom: 52px;
    margin-left: 27.5%;
    margin-right: 27.5%;
}

a{
    text-decoration: none;
    color:white;
}

@keyframes bgPulse{
    0% {
        background-color: greenyellow;
      }
      100% {
        background-color: black;
      }
}
